@font-face {
    font-family: 'NewFont';
    src: url('/Lexend-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Scrollbar */

.scrollbar {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 10px;
}

.scrollbar .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 8px;
    box-sizing: content-box;
}

.scrollbar .content::-webkit-scrollbar {
    width: 0;
}

.scrollbar .content::-webkit-scrollbar-thumb {
    background-color: transparent;
}


/* main parts */

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(153, 8, 236, 1);
    /* add a background color */
}

.container {
    width: 100%;
    height: 130%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.93);
    font-family: 'NewFont', 'Helvetica', 'Segoe UI Light', 'Segoe UI', 'Segoe UI Web Light', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
}

.spacer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.backgr {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #79059c, #db0fd1d3);
}

.bigbox {
    width: 90%;
    margin-top: 2%;
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.25rem;
}

.divider {
    width: 100%;
}

.smallerbox {
    background-color: rgba(48, 48, 48, 0);
    padding: 0 2%;
    width: 100%;
    height: 100%;
    /*background-color: rgba(65, 65, 65, 0.664);*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.25rem;
}

.smallerbox h1,
.smallerbox p {
    width: 100%;
}

.logo {
    width: 80%;
    height: 100%;
    padding-bottom: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: white;
}

.logo img {
    margin-left: 15px;
    margin-top: 5px;
}

.logo h2 {
    margin-top: 18px;
    color: rgba(255, 255, 255, .85)
}

.logo:hover {
    opacity: 0.8;
}

.topbar {
    width: 90%;
    height: 50px;
    border-bottom: 2px solid rgba(31, 31, 31, 0.493);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    width: 20%;
    height: 80%;
    /* background-color: rgba(196, 25, 219, 0.664); */
    /* border: 2px solid rgba(31, 31, 31, 0.493); */
    color: white;
    font-variant: normal;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-item:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 0.589);
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: translateY(1px);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* footer */

.footer {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom:0;
}

.footer p {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    font-size: 12px;
    font-family: 'NewFont', 'Helvetica', 'Segoe UI Light', 'Segoe UI', 'Segoe UI Web Light', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
}

.left,
.right {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 30%;
    justify-content: flex-start;
    padding-left: 10%;
}

.left a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: 'NewFont', 'Helvetica', 'Segoe UI Light', 'Segoe UI', 'Segoe UI Web Light', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
}

.left a:hover {
    color: #fff;
    text-decoration: underline;
}

.right {
    width: 50%;
    justify-content: flex-end;
    padding-right: 10%;
}



/* New section */

.textspace {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0 2%;
    background: linear-gradient(45deg, #79059c, #db0fd1d3);
    border-radius: 20px;
}

.photo{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.photo img{
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.textpart{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2%;
    background-color: grey;
    margin: 10px 0px 10px 0px;
    border-radius: 20px;
}